div.menu2{
    width: 100%;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3.8vw;
}

section.contact{
    display: flex;
}

div.contact-form{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-top: 13vw;
    justify-content: flex-end;
}

form{
    display: flex;
    flex-direction: column;
}

::placeholder{
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--secondary-color);
}

input:not(input[type="submit"]), textarea {
    background-color: transparent;
    height: 2.3vw;
    border-style: none;
    border-bottom: 2px solid var(--secondary-color);
    margin-top: 5%;
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--secondary-color);
}

textarea{
    height: initial;
    resize: none;
}

input[type="submit"]{
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 1.3vw;
    border-radius: 100px;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s ease;
    width: fit-content;
}

input[type="submit"]:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

input:focus-visible, textarea:focus-visible{
        outline-width: 0;
}

div.success-message{
    color: rgb(12, 58, 12);
    margin-top: 3%;
    display: none;
}

div.error-message{
    color: rgb(92, 17, 17);
    margin-top: 3%;
    display: none;
}

div.contact-information{
    width: 35%;
}

div.me-img img{
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

div.contact-information h3{
    text-transform: uppercase;
    color: #101010AB;
    font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 1%;
}

div.contact-information h2{
    text-transform: initial;
    font-size: 1.4vw;
    font-weight: 500;
    display: inline;
    width: fit-content;
    margin-bottom: 2%;
}

.contact-mail, .contact-location, .contact-socials{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}



@media (max-width: 767px){

    div.menu2{
        flex-direction: column;
        align-items: flex-start;
        font-size: 4vw;
        row-gap: 3%;
    }

}