section.cta-contact{
    padding: 10% 3% 5%;
}

section.project-information{
    margin-top: 8%;
    padding-bottom: 7%;
}

h2.date, h2.categories{
    font-size: 1.5vw;
    font-weight: 400;
    margin: 1% 0;
}

p.description{
    width: 70vw;
    margin: 3% 0;
}

a#website{
    margin-bottom: 4%;
}

img.banner{
    width: 100%;
}

section.website-display{
    display: flex;
    justify-content: center;
    padding: 10% 0;
}

#whitepaper-web{
    background-color: #D2CFCD;
}

section.website-display div.device-wrapper{
    width: 60vw;
    position: relative;
}

section.website-display.imac{
    padding: 8% 0 25%;
}

section.website-display div.device-wrapper.imac{
    width: 70vw;
}

img.device-frame{
    width: 100%;
    position: absolute;
}

video{
    width: 100%;
}

video.ipad-video{
    padding: 1%;
    border-radius: 5%;
}

video.imac-video{
    padding: 1%;
}

section.mobile3-display{
    display: flex;
    justify-content: space-around;
    padding: 10% 8%;
}

section.mobile3-display div.device-wrapper{
    width: 25%;
    position: relative;
}

video.iphone13max-video{
    padding: 4% 5% 5%;
    border-radius: 10%;
}

section.section-banner{
    position: relative;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-banner h3{
    position: absolute;
    color: #fff;
    text-align: center;
}

section.section-banner video{
    object-fit: cover;
    width: 100%;
    height: 40vw;
}

section.section-banner img{
    object-fit: cover;
    width: 100%;
    height: 40vw;
}

.overlayed{
    filter: brightness(0.5);
}

section.art-frames{
    display: flex;
    justify-content: space-around;
    padding: 10% 8%;
}

section.art-frames.tune-headphones{
    padding: 20% 5%;
}

div.frame{
    width: 30vw;
}

div.frame.tune-headphones{
    width: 30%;
}

div.frame img{
    width: 100%;
    transition: 0.3s ease;
}

div.frame.tune-headphones img:hover{
    transform: scale(1.05);
}

section.post-navigation{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.page-final{
    margin-bottom: 10%;
}

@media (max-width: 1024px){

    h1.project-title{
        font-size: 13vw;
    }

    h2.date, h2.categories{
        font-size: 2.5vw;
    }

    p.description{
        width: 100%;
    }

    img.banner{
        height: 60vw;
        object-fit: cover;
    }

    section.website-display{
        padding: 20% 0;
    }

    section.website-display div.device-wrapper{
        width: 80vw;
    }

    section.mobile3-display{
        padding: 20% 5%;
    }
    
    section.mobile3-display div.device-wrapper{
        width: 30%;
    }

    section.section-banner{
        min-height: 60vw;
    }
    
    section.section-banner video{
        height: 60vw;
    }

    section.section-banner img{
        height: 60vw;
    }

    section.art-frames{
        padding: 20% 8%;
    }
    
    div.frame{
        width: 35vw;
    }

    section.website-display.imac{
        padding: 15% 0 35%;
    }
    
    section.website-display div.device-wrapper.imac{
        width: 80vw;
    }

}

@media (max-width: 767px){

    h1.project-title{
        font-size: 12vw;
        margin: 5% 0;
    }

    h2.date, h2.categories{
        font-size: 4vw;
    }

    p.description{
        font-size: 4vw;
        margin: 5% 0;
    }

    img.banner{
        height: 70vw;
        object-fit: cover;
    }

    section.website-display{
        padding: 30% 0;
    }

    section.website-display div.device-wrapper{
        width: 80vw;
    }

    section.mobile3-display{
        padding: 30% 5%;
    }
    
    section.mobile3-display div.device-wrapper{
        width: 30%;
    }

    section.section-banner{
        min-height: 60vw;
    }

    section.section-banner h3{
        font-size: 4.5vw;
    }
    
    section.section-banner video{
        height: 60vw;
    }

    section.section-banner img{
        height: 60vw;
    }

    section.art-frames{
        padding: 30% 8%;
    }
    
    div.frame{
        width: 35vw;
    }

    section.art-frames.tune-headphones {
        padding: 30% 5%;
    }

    section.post-navigation{
        margin-bottom: 10%;
    }

    section.website-display.imac{
        padding: 25% 0 50%;
    }
    
    section.website-display div.device-wrapper.imac{
        width: 90vw;
    }

}